.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px; 
}

@media (min-width: 768px) {
    .header {
        padding: 40px 80px; 
    }
}

.header__title {
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    line-height: 1;
    font-weight: 900;
    font-size: 24px; 
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .header__title {
        font-size: 32px;
        margin-bottom: 40px;
    }
}

.header__link {
    font-family: Inter, Arial, Helvetica, sans-serif;
    line-height: 1;
    letter-spacing: -0.24px;
    text-decoration: none;
    color: #1a1a1a;
}

.header__link:hover {
    text-decoration: underline;
}