.page {
    background-color: #ececec;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px 40px 32px;
    max-width: 1440px;
    margin: 0 auto;
    line-height: 1;
}

.page__main-content {
    flex-grow: 1;
    margin: 60px 0 138px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    line-height: 1;
    font-weight: 900;
    font-size: 24px;
}

.header__link {
    font-family: Inter, Arial, Helvetica, sans-serif;
    line-height: 1;
    letter-spacing: -0.24px;
    text-decoration: none;
    color: #1a1a1a;
}

.header__link:hover {
    text-decoration: underline;
}

.nav__links {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav__link {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #1a1a1a;
    line-height: 1;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
}

.decks__title {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #1a1a1a;
    line-height: 1;
    font-weight: 700;
    font-size: 40px;
    margin: 0 0 40px;
}

.decks {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #1a1a1a;
    line-height: 1;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

.decks__list {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #1a1a1a;
    line-height: 1;
    list-style: none;
    display: contents;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

.deck {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 325px;
    height: 205px;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    list-style: none;
}

.deck__title {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

.deck.deck_color_green {
    background-color: #64d583;
}

.deck.deck_color_blue {
    background-color: #91A8F9;
}

.deck.deck_color_pink {
    background-color: #EE92D7;
}

.deck.deck_color_yellow { 
    background-color: #f5d770; 
}

.deck.deck_color_orange { 
    background-color: #ee955e; 
}

.deck.deck_color_purple {
    background-color: #aa8ef0;
}

.decks__new-deck-btn {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #1a1a1a80;
    background-color: #d9d9d9;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 325px;
    height: 205px;
    padding: 20px;
    border-radius: 20px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
}

.decks__new-deck-btn:hover {
    background-color: #c5c5c5;
    color: #1a1a1a;
}

.decks__wrapping-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
}

.deck__row {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    pointer-events: none;
}

.deck__count {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #1a1a1a;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

.deck__link {
    position: absolute;
    inset: 0; 
    z-index: 1;
    text-decoration: none;
}

.deck__delete-btn {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url("../images/delete.svg");
    opacity: .5;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    z-index: 3;
    pointer-events: auto;
}

.deck__delete-btn:hover {
    opacity: 1;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__main-content_location_carousel {
  margin: 106px 0 188px;
}

.carousel__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.carousel__title {
    font-weight: 500;
    font-size: 14px;
    color: #1a1a1a80;
    margin: 0 0 32px;
}
 
.carousel__card {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    color:#1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    border-radius: 20px;
    width: 365px;
    height: 245px;
    background-color: #d9d9d9;
}

.carousel__card_color_white {
    background-color: #ffffff !important;
    color: #1a1a1a !important;
    border: 1px solid #d9d9d9;
}

.carousel__card_color_green {
    background-color: #64d583;
}

.carousel__card_color_blue {
    background-color: #91A8F9;
}

.carousel__card_color_pink {
    background-color: #EE92D7;
}

.carousel__card_color_yellow { 
    background-color: #f5d770; 
}

.carousel__card_color_orange { 
    background-color: #ee955e; 
}

.carousel__card_color_purple {
    background-color: #aa8ef0;
}

.carousel__btn {
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.carousel__btn_type_left::before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/left.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 50%;
}

.carousel__btn_type_right::before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/right.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 50%;
}

.carousel__btn_type_flip::before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/flip.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 50%;
}

.carousel__btn:hover {
    cursor: pointer;
}

.carousel__btn:hover::before {
    opacity: 100%;
}

.carousel__btn_disabled {
    cursor: default;
    pointer-events: none;
}

.carousel__btn_disabled::before {
    opacity: 20%;
    cursor: default;
}

.footer {
    padding: 0;
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.16px;
    color: #00000080;
    margin: 0;
}